## Variables used in the worker container
ARISTOTE_API_BASE_URL=https://stt.ilaas.fr/api
ARISTOTE_API_CLIENT_ID=change_me
ARISTOTE_API_CLIENT_SECRET=change_me
WHISPER_BASE_URL=http://speaches:3000
CRON_SCHEDULE="* * * * *"
MAX_LOG_DAYS=7
MODEL=Systran/faster-whisper-large-v3
